.table {
  &-titles, &-element {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 0.8fr 0.8fr;
  }

  &-element {
    cursor: auto;

    &-info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

header {
  display: flex;
  align-items: center;

  & > .title {
    font-weight: bold;
    font-size: 22px;
    margin: auto;
  }
}

.empty-transactions {
  display: flex;
  justify-content: center;
  margin: 48px;
}
