<ng-container *ngIf="(transactionsList$ | async)?.length! > 0">
  <div class="table">
    <div class="table-titles">
      <span class="table-element-info">Sender alias</span>
      <span class="table-element-info">Sender address</span>
      <span class="table-element-info">Target alias</span>
      <span class="table-element-info">Target address</span>
      <span class="table-element-info">Amount</span>
      <span class="table-element-info">Status</span>
    </div>
    <div class="table-element" *ngFor="let transaction of (transactionsList$ | async)">
      <span class="table-element-info">{{ transaction.sender?.alias || 'N/A' }}</span>
      <span class="table-element-info">{{ transaction.sender?.address || 'N/A' }}</span>
      <span class="table-element-info">{{ transaction.target?.alias || 'N/A' }}</span>
      <span class="table-element-info">{{ transaction.target?.address || 'N/A' }}</span>
      <span class="table-element-info">{{ transaction.amount }}</span>
      <span class="table-element-info">{{ transaction.status }}</span>
    </div>
  </div>
  <button [disabled]="this.page$.getValue() === 1" (click)="loadPreviousPage()">
    Previous page
  </button>
  <button [disabled]="isLastPage$ | async" (click)="loadNextPage()">
    Next page
  </button>
</ng-container>

<ng-container *ngIf="(transactionsList$ | async)?.length === 0">
  <div class="empty-transactions">
    No transactions recorded
  </div>
</ng-container>


