.table {
  margin: 24px;
  padding: 12px;
  display: grid;
  grid-row-gap: 12px;
  border-radius: 5px;
  border: #c2c2c2 2px solid;

  &-titles, &-element {
    display: grid;
    grid-template-columns: repeat(3, 0.6fr) 1fr 0.5fr;
  }

  &-titles {
    font-weight: 600;
    border-bottom: 2px solid #c2c2c2;
    padding-bottom: 8px;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &-element {
    display: grid;
    grid-template-columns: repeat(3, 0.6fr) 1fr 0.5fr;
    grid-template-rows: 30px;
    border-bottom: 1px solid #c2c2c2;
    cursor: pointer;
  }
}

button {
  margin-left: 24px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: #005fb2;
    border-color: #005fb2;
  }

  &:disabled {
    background-color: #5e6b79;
    border-color: #5e6b79;
  }
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}
