$button-color: #0070d2;
$button-hover-color: #005fb2;
$button-disabled-color: #5e6b79;
$table-gray: #c2c2c2;
$container-padding: 12px;

.table {
  margin: 24px;
  padding: 12px;
  display: grid;
  grid-row-gap: 12px;
  border-radius: 5px;
  border: $table-gray 2px solid;

  &-titles, &-element {
    display: grid;
    grid-template-columns: repeat(3, 0.6fr) 1fr 0.5fr;
  }

  &-titles {
    font-weight: 600;
    border-bottom: 2px solid $table-gray;
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    margin-bottom: 2px;
    padding: 8px $container-padding;
  }

  &-element {
    display: grid;
    grid-template-columns: repeat(3, 0.6fr) 1fr 0.5fr;
    grid-template-rows: 30px;
    border-bottom: 1px solid $table-gray;
    cursor: pointer;
  }
}

button {
  margin-left: 24px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: $button-color;
  border-radius: 0.25rem;
  border: 1px solid $button-color;
  color: white;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  &:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }

  &:disabled {
    background-color: $button-disabled-color;
    border-color: $button-disabled-color;
  }
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}
